.content {
    display: inline-block;
    font-size: 24px;
    font-family: 'consolas', Courier, monospace;
}

.cursor {
    display: inline;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink{
    0% { opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}